html {
  font-size: 14px !important;
  font-family: "Arial", "digital", "Saldina"  !important;
}

body{
  color: #4a4a4a;
}

@font-face {
    font-family: digital;
    src: url(../fonts/digital-7.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: AmulhedDemo;
    src: url(../fonts/AmulhedDemo.ttf.woff) format('woff');
    font-weight: 400;
}
.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}
.padding-left-5 {
  padding-left: 5px;
}

.padding-left-28 {
  padding-left: 28px
}
.padding-left-30 {
  padding-left: 30px
}
.padding-left-35 {
  padding-left: 35px
}
.padding-top-20{
  padding-top: 20px
}

.margin-b-0{
  margin-bottom: 0;
}
.custom-control-input:disabled~.custom-control-label {
  color: black;
}
.line-end{
  border-bottom: #ccc solid 0.5px;
  margin: 15px 0;
}
.card-header{
  font-weight: 700;
  padding-left: 5rem;
}
.card-body{
  padding: 1.25rem 5rem;
}
.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}